body { 
  padding:0px;
  margin-right:0px;
  width:100%;
}

.select_2{
  padding-bottom: 30px;
  margin-bottom:20px;
  position:sticky;
  top: 0;
  z-index: 1000;

}

.select_3 {
  list-style-type: none;
  padding-bottom: 30px;
  margin-bottom:20px;
  text-align:center;
  margin-left:8%;
  
}

.select_3 li {
  float: left;
  font-size:14px;
  font-weight: bold;
}

a {
  padding: 15px 30px 15px 30px;
  background-color: #00ad09 !important;
  text-align:center;
  font-style:none;
  display:block;
  color:white !important;
  font-style: bold;
}

a:hover {
  background-color: #19d623 !important;
}

#first {
  border-radius:20px 0 0 20px;
}

#last {
  border-radius:0 20px 20px 0;
}

img{
  border-radius:8px;
  object-fit: cover !important;
  height:300px;
  width:100%;
  object-position: 0% 60%;
}

.top-left{
  position:absolute;
  top:0px
}
.header-1{
  color:white;
  font-weight:bold;
  font-size:10rem;
  font-weight:15px;
  padding-top:40px;
  margin-left:100px;
}
.header-2{
  color:white;
  font-weight:bold;
  font-size:6rem;
  font-weight:15px;
  padding-top:0px;
  margin-left:55rem;

}

hr{
  display:block;
  color:orange;
  border-width:100px;
  margin-top:auto;
  border-style:inset;
  top:100px;
  
}
.want-centered{

  text-align: center;
}
h2{
    text-align:center;
    padding-top: 100px;
    margin-top: -100px;
}
p{
  font-size:15px;

}
